@use "variables" as v;

@mixin pantalla{
    @media (min-width : 1000px) {
        @content;

    }
}

@mixin input{
    width: 100%;
    margin-bottom: 30px;
    color: #fff;
    padding: 15px;
    background: v.$gris-claro;
    border:3px solid rgba(255,255,255,.2);
}
