//colores
    $azul:#030586;
    $gris-claro:#555;
    $grisOscuro:#333;
    $blanco:#fff;
    $negro:rgba(0, 0, 0);
//Tipografias
    $fuentePrincipal:'Anton', sans-serif;
    $arial:'arial', sans-serif;